### 문제 1
다음 리스트를 만들어보세요 (여러가지 방법으로 만들어보세요)
- a. [0, 1, 2, 3, 4, 5]
- b. [4, 5, 6, 7]
- c. [3, 6, 9]
- d. [1, 2, 1, 2, 1, 2, 1, 2]

In [6]:
a = []
b = []
c = []
d = []

# a 만들기 
for i in range(0, 6):
    a.append(i)
print(a)

# b 만들기
for i in range(4, 8):
    b.append(i)
print(b)

# c 만들기
for i in range(1,10):
    if i % 3 == 0:
        c.append(i)
print(c)

# d 만들기
lst = [1,2]
print(lst * 4) # 신기방기
# d.append(lst)

for i in range(4):
    for x in (1,2):
        d.append(x)
print(d)

[0, 1, 2, 3, 4, 5]
[4, 5, 6, 7]
[3, 6, 9]
[1, 2, 1, 2, 1, 2, 1, 2]
[1, 2, 1, 2, 1, 2, 1, 2]

### 문제 2
구구단 3단을 출력하시오. 단, for, while을 활용하여 다양하게 만들어보시오.

In [7]:
dan = 3
# i = 1
# while i <= 9:
#     print(dan * i)
#     i += 1
    
    
for i in range(1, 10):
    print(dan, "X" , i, " = ",  dan * i)

3 X 1  =  3
3 X 2  =  6
3 X 3  =  9
3 X 4  =  12
3 X 5  =  15
3 X 6  =  18
3 X 7  =  21
3 X 8  =  24
3 X 9  =  27

### 문제 3
40 이하의 3의 배수를 출력하시오

In [8]:
num = 0
for num in range(1, 40):
    if num % 3 == 0:
        print(num , end = " ")

3 6 9 12 15 18 21 24 27 30 33 36 39

### 문제 4
1 ~ 100 중에 7의 배수의 개수를 출력하세요.

In [9]:
count = 0
su = 0
for i in range(1 ,101):
    if i % 7 == 0:
        count += 1
print(count)

14

### 문제 5
lst = [1, 2, 4, 3, 3, 5, 5, 6, 9, 7] 일 때,
원소가 1, 4, 5, 7인 경우를 제외하고 출력하세요

In [10]:
lst = [1, 2, 4, 3, 3, 5, 5, 6, 9, 7]
new_lst = []
for l in lst:
    if l not in [1,4,5,7]:
        new_lst.append(l)
print(new_lst)

[2, 3, 3, 6, 9]

### 문제 6
1 ~ 9 까지의 자연수 중 제곱한 수가 10 이상 50 이하인 자연수의 리스트를 출력해보세요.

In [11]:
new_list = []
for num in range(1, 10):
    if (num**2) >= 10 and (num**2) <= 50:
        print(num)
        new_list.append(num)
print(new_list)

4
5
6
7
[4, 5, 6, 7]

### 문제 7
숫자 두개를 각각 입력받아 두 수 사이에 속한 모든 정수의 합을 구하시오. (ex. 2와 5를 입력받는다면 2 + 3 + 4 + 5 = 14)

In [12]:
num1 = int(input('첫번쨰 정수를 입력해주세요'))
num2 = int(input('두번째 정수를 입력해주세요'))
total = 0

for i in range(num1, num2+1):
    total += i
    print(total)

ValueError: invalid literal for int() with base 10: ''

### 문제 8
다음 리스트 `colors = ['red', 'green', 'blue', 'yellow', 'purple']`의 인덱스와 값을 함께 출력하세요.
(출력 예시: `번호: 0, 색상: red` ...)

In [ ]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']

# range(len(colors))를 활용하여 작성해보세요. -> ㅇㅋ
for i in range(len(colors)):
    print(i)
    print(colors[i])
    
    print("번호 : ", i+1 , "색상 : ", colors[i] )

0
red
번호 :  1 색상 :  red
1
green
번호 :  2 색상 :  green
2
blue
번호 :  3 색상 :  blue
3
yellow
번호 :  4 색상 :  yellow
4
purple
번호 :  5 색상 :  purple

### 문제 9
1부터 50까지의 숫자 중에서 5의 배수만 골라 `my_list`에 저장하고, 그 리스트의 모든 요소의 합을 `for`문을 사용하여 구하세요.

In [ ]:
my_list = []
total = 0

# 1. range를 사용하여 5의 배수를 리스트에 추가
# 2. for문을 사용하여 합계 계산

print(f"리스트: {my_list}")
print(f"합계: {total}")

for i in range(1, 50+1):
    if i % 5 == 0:
        print(i)
        my_list.append(i)
        
print(my_list)

for r in range(len(my_list)):
    print(r)
    total += my_list[r]
print(total)

리스트: []
합계: 0
5
10
15
20
25
30
35
40
45
50
[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
0
1
2
3
4
5
6
7
8
9
275

### 문제 11
사용자로부터 숫자를 계속 입력받다가 `-1`을 입력하면 입력을 멈추고, 그동안 입력받은 숫자들 중에서 **가장 큰 값**을 출력하는 프로그램을 `while`문을 사용하여 작성하세요. (단, `max()` 함수를 사용하지 마세요.)

In [ ]:


while True:
    max_val = num
    num = int(input("숫자를 입력하세요 (-1 종료): "))
 
    print("입력된 수", num)

    if num == -1:
        break
    # 여기에 최댓값을 갱신하는 로직을 작성하세요
    if num > max_val:
        max_val = num

print(f"가장 큰 값: {max_val}")

입력된 수 1
입력된 수 6
입력된 수 65765
입력된 수 -1
가장 큰 값: 65765

### 문제 12
`while`문을 사용하여 1부터 100까지의 정수 중 홀수의 합과 짝수의 합을 각각 따로 구하여 출력하세요.

In [ ]:
odd_sum = 0
even_sum = 0
n = 1

while n <= 100:
    # 조건문을 사용하여 홀수/짝수 합계를 구하세요
    if n % 2 == 0:
        even_sum += n
    else:
        odd_sum += n
    n += 1
    
print(f"홀수의 합: {odd_sum}")
print(f"짝수의 합: {even_sum}")

홀수의 합: 2500
짝수의 합: 2550

### 문제 13
n = 17일 때, n이 소수인지 판단하시오. 

(추가로, n을 입력받아 같은 과정을 반복하시오.)

In [ ]:
# n = 17

# for i in range(2, n):
#     if n % i == 0:
#         print("소수가 아님")
 
while True:
    num = int(input("숫자를 입력하세요 (-1 종료): "))
    print("입력된 수", num)
    if num == -1:
        break
    
    for i in range(2, num):
        if num % i == 0:
            print("소수가 아님")
            break
    else:
        print("소수임")
        break

입력된 수 18
소수가 아님
입력된 수 17
소수임

### 
문제 14

1부터 100까지의 정수 중에서 3의 배수 또는 5의 배수만 골라 리스트 nums에 저장하고,
for문으로 그 리스트의 합을 출력하세요.
(단, sum() 함수 사용 금지)

In [22]:
nums = []
total = 0

for i in range(1, 100+1):
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2418

### 문제 15

사용자로부터 자연수 n을 입력받아, 아래처럼 별(*)로 삼각형을 출력하세요.
예: n = 5 일 때

In [17]:
# *
# **
# ***
# ****
# *****

In [21]:
n = 5

for i in range(n+1):
    # print("*" * i)
    # print(" " * (n - i), ("*" * i) * 2)
    print(" " * (n - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

### 문제 16

nums = [7, 2, 9, 9, 1, 5, 8, 8, 3] 일 때,
리스트에서 중복 없이 등장한 숫자만 뽑아서 unique 리스트로 만드세요.
(예: [7, 2, 9, 1, 5, 8, 3] 같은 형태)
(단, set() 사용 금지)

In [26]:
nums = [7, 2, 9, 9, 1, 5, 8, 8, 3]
new_list = []
for num in nums:
    print(num)
    if num not in new_list:
        new_list.append(num)
        print(new_list)

print(new_list)

7
[7]
2
[7, 2]
9
[7, 2, 9]
9
1
[7, 2, 9, 1]
5
[7, 2, 9, 1, 5]
8
[7, 2, 9, 1, 5, 8]
8
3
[7, 2, 9, 1, 5, 8, 3]
[7, 2, 9, 1, 5, 8, 3]

### 문제 17

for문을 사용해서 **1 ~ 100 사이의 소수(prime)**만 골라 리스트 primes에 담아 출력하세요.
(힌트: 어떤 수 x가 소수인지 판별하려면 2부터 x-1까지 나눠보는 방식)

In [51]:
primes = []

for n in range(1, 100+1):
    prime = True
    
    for i in range(2, n):
        if n % i == 0:
            prime = False   
            break
        #else:    
            # print(prime, n)
    if prime == True:
        print(prime, n)        
        primes.append(n)
print(primes)

True 1
True 2
True 3
True 5
True 7
True 11
True 13
True 17
True 19
True 23
True 29
True 31
True 37
True 41
True 43
True 47
True 53
True 59
True 61
True 67
True 71
True 73
True 79
True 83
True 89
True 97
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

### 문제 18

while문을 사용해서 1부터 시작해 숫자를 계속 더할 때,
**누적합이 처음으로 500을 넘는 순간의 숫자(n)**와 그때의 **누적합(total)**을 출력하세요.
예: 1+2+3+...+n > 500을 처음 만족하는 n 찾기

In [55]:
n = 1
total =0

while True:
    total += n
    
    if total > 500:
        print(n)
        print(total)
        break
    n += 1

32
528